.contentContainer {

    max-width: 1120px;
    height: calc(100vh - 105px - 2rem);
    margin: 2rem auto 0;

}

.post {
    h1 {
        color: var(--gray-50);
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: -0.5px;

        cursor: pointer;

        transition: color 0.2s;

        &:hover {
            color: var(--pink-500);
        }
    }

    p {
        margin-top: 8px;
        font-size: 18px;
        line-height: 22px;
    }

    & + div {
        margin-top: 48px;
    }

}



